/* Stylizacja dla AppBar */
.appBar {
  background: linear-gradient(to right, #000000, #00ff00); /* Czarno-Zielony gradient */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Dodanie cienia */
}

/* Stylizacja przycisku menu */
.menuButton {
  margin-right: 16px;
}

/* Stylizacja tytułu nagłówka */
.header-title {
  color: #00ff00; /* Zielony lime */
  font-size: 1.5em;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.header-title:hover {
  color: #ffffff; /* Efekt najechania */
}

/* Stylizacja linków nawigacyjnych */
.nav-links {
  display: flex;
  gap: 16px;
}

.nav-link {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00ff00;
}

/* Stylizacja głównego tła */
.header-content {
  background: url("https://wallpapercave.com/wp/wp2245610.jpg") no-repeat center center;
  background-size: cover; /* Skalowanie tła, aby pokryć cały obszar */
  padding: 100px 20px;
  text-align: center;
}

/* Media queries dla różnych rozdzielczości */
@media (max-width: 768px) {
  .header-content {
      padding: 50px 10px;
  }

  .main-title {
      font-size: 2em;
  }
}

@media (min-width: 1920px) {
  .header-content {
      padding: 150px 30px;
  }

  .main-title {
      font-size: 4em;
  }
}
