.recipe-list-container {
  padding: 20px;
  background-image: url();
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.recipe-card {
  background: rgb(179, 63, 63);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(28, 24, 24, 0.1);
  max-width: 300px;
  text-align: left;
}

.recipe-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
